{% extends "layout.html" %}

{% block head %}
<title> TakeAPic </title>
{% endblock %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://banuselintosun.github.io/">About Me</a></li>
        <li><a href="https://github.com/BanuSelinTosun/TakeAPic">TakeAPic Github page</a></li>
        <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vTUpydl0k7Cm1yTkmQ__Yxv0xQDDzv09gDiBdOqCeoDFQDIrhKcGM-9oeWpPsw4Il0_bgcdqxR6rFlx/pub?start=true&loop=true&delayms=15000"> How does TakeAPic work? <span class="sr-only">(current)</span></a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 <div class="container-fluid text-center" style ="height:auto; margin:0 auto;">

     <img src='/static/img/1920.jpg' class='img-fluid' width='55%' alt='background'>
     <h1> Welcome to TakeAPic </h1>
     <h3> A tool to imporove your social media pictures </h3>
        <h2> Please upload your images directory </h2>

             <form action="/submissions" method='POST' enctype = "multipart/form-data" style="height:50px;width:250px;align:center;margin:0 auto;">
               <input type="file" class="form-control" name="file" webkitdirectory mozdirectory />
               <button class="btn btn-primary glyphicon glyphicon-book" type="submit" style="height:30px;width:100px;align:center;margin:0 auto;">  Submit</button>
            </form>
            <br>
             <form action="/submissions" method='POST' enctype = "multipart/form-data" style="height:50px;width:250px;align:center;margin:0 auto;">
               <button class="btn btn-primary glyphicon glyphicon-book" type="submit" style="height:30px;width:100px;align:center;margin:0 auto;"> Example </button>
             </form>
            <h3>
            <iframe width="961" height="540" src="https://www.youtube.com/embed/qOnjoAFm0no" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </h3>
 </div>


{% endblock %}
