{% extends "layout.html" %}

{% block head %}
<title> TakeAPic </title>
{% endblock %}

{% block body %}

 <div class="container-fluid text-center" style ="height:auto; margin:0 auto;">

     <img src='/static/img/1920.jpg' class='img-fluid' width='50%' alt='background'>
     <h1> Welcome to TakeAPic </h1>
        <h2> Please upload your images directory </h2>

             <form action="/submissions" method='POST' enctype = "multipart/form-data" style="height:50px;width:250px;align:center;margin:0 auto;">
               <input type="file" class="form-control" name="file" webkitdirectory mozdirectory />
               <button class="btn btn-primary glyphicon glyphicon-book" type="submit" style="height:30px;width:100px;align:center;margin:0 auto;">  Submit</button>
            </form>
            <br>
             <form action="/submissions" method='POST' enctype = "multipart/form-data" style="height:50px;width:250px;align:center;margin:0 auto;">
               <button class="btn btn-primary glyphicon glyphicon-book" type="submit" style="height:30px;width:100px;align:center;margin:0 auto;"> Example </button>
             </form>
            <h3>
        <a class="text-muted" style="color: #000000;" href="https://github.com/BanuSelinTosun/TakeAPic">Details of this work</a>
    </h3>
            <h3>
                <a class="text-muted" style="color: #000000;" href="https://banuselintosun.github.io/"> About Me </a>
            </h3>
            <h3>
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSYFRupRBmiBZh3q1zJs5VcbirzJ66oHGLc7fG9kCgjYGJF6SGTEoOlktySnfqu0rnE-rO1yz1elA_2/embed?start=true&loop=false&delayms=15000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </h3>
            <h3>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/qOnjoAFm0no" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>"
        </h3>
 </div>


{% endblock %}
