<!doctype html>
<title>Sementic Analysis</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1 align="center">Semantic Analysis</h1>
  <table style="margin: 0px auto;"></table>
  {% for table in tables %}
    <script src="../static/sorttable.js"></script>
    {{ table |safe }}
  {% endfor %}
  <div class=page>
      <img src='/mini_jpg/KA.AN1.39.jpg'>
      <img src='/mini_jpg/KA.AN2.40.jpg'>
      <img src='/mini_jpg/KA.AN3.41.jpg'>
  </div>
</div>
